.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d60b3; /* Light background color */
    padding: 10px 20px; /* Add some padding */
    border-bottom: 1px solid #984747; /* Bottom border for separation */
  }
  
  .header h1 {
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Header font size */
  }
  
  .nav {
    display: flex; /* Align links in a row */
  }
  
  .nav a {
    text-decoration: none; /* Remove underline */
    color: #007bff; /* Link color */
    margin-right: 15px; /* Space between links */
    padding: 5px 10px; /* Padding for links */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Transition for hover effect */
  }
  
  .nav a:hover {
    background-color: #007bff; /* Change background color on hover */
    color: rgb(33, 117, 57); /* Change text color on hover */
  }
  